body { padding: 0; margin: 0; overflow: hidden; background-color: #000; }
#unity-container { width: 100%; height: 100%; position: absolute; }
#unity-canvas { background: #000000; width: 100% !important; height: 100% !important; }

/* Ocultamos la barra de carga original si prefieres algo limpio */
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }

/* DESAPARECER BOTONES Y FOOTER */
#unity-footer { display: none !important; } /* Oculta todo el pie de página */
#entervr { display: none !important; } 
#enterar { display: none !important; }
#unity-webxr-link { display: none !important; }
#unity-build-title { display: none !important; }