/* General */
body, html { 
    padding: 0; 
    margin: 0; 
    width: 100%; 
    height: 100%; 
    background-color: #000; 
    overflow: hidden; 
}

/* Contenedor Principal */
#unity-container { 
    position: absolute; 
    width: 100% !important; 
    height: 100% !important; 
    top: 0; 
    left: 0; 
}

/* Canvas del Juego */
#unity-canvas { 
    width: 100% !important; 
    height: 100% !important; 
    background: #000; 
    display: block;
}

/* Barra de Carga */
#unity-loading-bar { 
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    display: none; 
    z-index: 10;
}

#unity-logo { 
    width: 154px; 
    height: 130px; 
    background: url('unity-logo-dark.png') no-repeat center; 
    margin: 0 auto;
}

#unity-progress-bar-empty { 
    width: 141px; 
    height: 18px; 
    margin-top: 10px; 
    background: url('progress-bar-empty-dark.png') no-repeat center; 
}

#unity-progress-bar-full { 
    width: 0%; 
    height: 18px; 
    margin-top: 10px; 
    background: url('progress-bar-full-dark.png') no-repeat center; 
}

/* Ocultar elementos innecesarios para el build VR */
#unity-footer, #unity-webxr-link, #unity-build-title { 
    display: none !important; 
}